/* Custom scrollbar matching brand */
.ci-main-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.ci-main-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.ci-main-scrollbar::-webkit-scrollbar-thumb {
  background: #fa872840;
  border-radius: 99px;
}
.ci-main-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fa8728;
}
