.ci-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.ci-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.ci-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(250, 135, 40, 0.25);
  border-radius: 99px;
}
.ci-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fa8728;
}
