.active-link {
  background-color: var(--color-blue-50) !important;
  color: var(--color-blue-600) !important;
}

:host-context(.dark) .active-link {
  background-color: var(--color-gray-800) !important;
  color: var(--color-white) !important;
}
